# OS X stuff, IDE and virtual environments
.DS_Store
.idea
.conda
.gradle
crypto/app/bin
crypto/app/build 
__pycache__

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


*.mp4

# Sphinx stuff
*.pdf
_build
_static
_templates

!exams/*/*.pdf
!worksheets/*/*.pdf
crypto/rsa/
