# OS X stuff
.DS_Store
.idea

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


*.mp4

# Sphinx stuff
*.pdf
_build
_static
_templates

!exams/*/*.pdf
!worksheets/*/*.pdf
